language: node_js

# Performance optimization
git:
  depth: 10
cache:
  directories:
    - $HOME/.npm

node_js:
  - "6"
  - "8"
  - "10"

before_script:
  # Ensure that bin script actually runs on used Node.js version
  # to detect and avoid bugs such as apache/cordova-cli#339
  # (<https://github.com/apache/cordova-cli/issues/339>)
  - ./bin/cordova --version
