<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
  id		= "org.apache.sampleapp"
  version 	= "1.0.0">

  <name>Cordova Sample Application</name>

  <description>
    Mind-blowing Sample Application
  </description>

  <author>
    Anonymous
  </author>

  <icon src="blurry.png" />
</widget>
