<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns=     "http://www.w3.org/ns/widgets"
        xmlns:gap= "http://phonegap.com/ns/1.0"
        id=        "org.apache.cordova.sampleapp"
        version=   "1.0.0">

  <name>Cordova Sample Application</name>

  <description>
    Mind-blowing Sample Application
  </description>

  <author>
    Anonymous
  </author>

  <gap:platforms>
	</gap:platforms>

  <icon src="blurry.png" />
</widget>
